/* 滚动条背景与宽度 */
::-webkit-scrollbar {
	width: 6px;
	background: none;
	height: 6px;
}
/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.2) inset;
	border-radius: 0px;
	background: white;
	border: 0px solid transparent;
}
/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
	width: 20px;
	min-height: 1px;
	box-shadow: 0 0 0 0px #464f70 inset;
	border-radius: 3px;
	background-color: rgba(157, 165, 183, 0.4);
	background-clip: padding-box;
	border: 0px solid transparent;
}
/* 当前窗口未激活的情况下 */  
::-webkit-scrollbar-thumb:window-inactive {  
    background: rgba(157, 165, 183, 0.4);
}
/* hover到滚动条上 */  
::-webkit-scrollbar-thumb:vertical:hover{  
    background: rgba(157, 165, 183, 0.7);
}
/* 滚动条按下 */  
::-webkit-scrollbar-thumb:vertical:active{  
    background: rgba(157, 165, 183, 0.7);
}
/* 滚动条边角样式 */
::-webkit-scrollbar-corner {
	background: white;
}

.blank_box{
  width: 100%;
  height: 10px;
}
.site-heading h1{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}
#subdusi{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* search */
#local-search-input{
	box-shadow:0px 0px 0px 0px rgb(191,191,191) inset;
	border:1px solid rgb(191,191,191);
	background: none;
}
#local-search-input:focus{
	border:1px solid #66afe9;
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
#local-search-input::-webkit-input-placeholder{
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;

}
#local-search-result{ /* div */
	background:rgba(245,245,245,0.9);
	margin:0px;
	padding:0px;
	overflow-y:scroll;
	height:auto;
	max-height:655px;
}
#local-search-result::-webkit-scrollbar{
	display:none;
}
.search-result-list{ /* ul */
	list-style: none; 
	margin:0px;
	padding:3px 4px 0px 4px;
}
.search-result-list li{
	margin-bottom:15px;
}
#local-search-result .search-result-title{ /* a */
	list-style: none; 
	font-weight:bold;
	margin:0px;
	padding:0px;
	color:rgb(121,187,209)!important;
}
#local-search-result .search-result-title:hover{
	color:rgb(56,132,158)!important;
}
.search-result{ /* p */
	margin:0px;
	padding:0px;
	font-size:12px;
}
/* Top */
.post-title{
	position:relative;
}
.top_logo{
	height:30px;
	width:30px;
	margin:0px;
	padding:0px;
	position:absolute;
	top:-37px;
	left:-15px;
	cursor:default!important;
}
/* gitment */
#blog_comments textarea{
	resize:none!important;
	font-size:13px!important;
	background:none!important;
}
.gitment_container{}
.gitment-header-issue-link{
	display:none!important;
}
.hello_visitor{}
.gitment-comment-header{
	background:none!important;
}
.gitment-comment-main{
	border:1px solid rgb(191,191,191);
}
.gitment-comment-body p, .gitment-markdown p{
	font-size:13px!important;
}
.gitment-comment-main:hover{
	border:1px solid rgba(102,175,233,0.6);
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.gitment-comment-main:hover::before{
	border-width:8px;
	border-right-color:rgba(102,175,233,0.6);
	background:none;
}
.gitment-comment-header{
}
.gitment-comment-avatar-img{
	cursor:pointer!important;
}
.gitment-editor-footer{
	margin-bottom:20px!important;
}
/* Wave */
@media (min-width: 889px) {
	@keyframes move_wave {
	    0% {
	        transform: translateX(0%) translateZ(0) scaleY(1);
			-ms-transform: translateX(0%) translateZ(0) scaleY(1);
			-moz-transform: translateX(0%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(0%) translateZ(0) scaleY(1);
			-o-transform: translateX(0%) translateZ(0) scaleY(1);
	    }
	    50% {
	        transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-ms-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-moz-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-webkit-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-o-transform: translateX(-50%) translateZ(0) scaleY(0.9);
	    }
	    100% {
	        transform: translateX(-100%) translateZ(0) scaleY(1);
			-ms-transform: translateX(-100%) translateZ(0) scaleY(1);
			-moz-transform: translateX(-100%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(-100%) translateZ(0) scaleY(1);
			-o-transform: translateX(-100%) translateZ(0) scaleY(1);
	    }
	}
	.waveWrapper {
	    overflow: hidden;
	    position: relative;
	    left: 0px;
	    bottom: -1px;
	    width: 100%;
	    height: 60px;
	    margin: 0px;
	    padding: 0px;
	    background-color: transparent;
	    z-index: 5;
	}
	.wave{
		border:0px;
		position: absolute;
		margin: 0px;
		padding: 0px;
		width: calc(100% + 0.5px);
		height: 100%;
		background-repeat: repeat no-repeat;
	    background-position: 0px bottom;
	    transform-origin: left bottom;
	    background-size: 100% 60px;
	}
	.wave_before{
		left: 0px;
	    bottom: 0px;
		animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
	}
	.wave_after {
		left: 100%;
	    bottom: 0px;
	    animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
		/*animation-delay:10s;*/
		/*-webkit-animation-delay:10s;*/
	}
}
@media (max-width: 888px) {
	@keyframes move_wave {
	    0% {
	        transform: translateX(0%) translateZ(0) scaleY(1);
			-ms-transform: translateX(0%) translateZ(0) scaleY(1);
			-moz-transform: translateX(0%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(0%) translateZ(0) scaleY(1);
			-o-transform: translateX(0%) translateZ(0) scaleY(1);
	    }
	    50% {
	        transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-ms-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-moz-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-webkit-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-o-transform: translateX(-50%) translateZ(0) scaleY(0.9);
	    }
	    100% {
	        transform: translateX(-100%) translateZ(0) scaleY(1);
			-ms-transform: translateX(-100%) translateZ(0) scaleY(1);
			-moz-transform: translateX(-100%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(-100%) translateZ(0) scaleY(1);
			-o-transform: translateX(-100%) translateZ(0) scaleY(1);
	    }
	}
	.waveWrapper {
	    overflow: hidden;
	    position: relative;
	    left: 0px;
	    bottom: -1px;
	    width: 100%;
	    height: 60px;
	    margin: 0px;
	    padding: 0px;
	    background-color: transparent;
	    z-index: 5;
	    display: none;
	}
	.wave{
		position: absolute;
		margin: 0px;
		padding: 0px;
		width: calc(200% + 0.5px);
		height: 100%;
		background-repeat: repeat no-repeat;
	    background-position: 0px bottom;
	    transform-origin: left bottom;
	    background-size: 100% 60px;
	}
	.wave_before{
		left: 0px;
	    bottom: 0px;
		animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
	}
	.wave_after {
		left: 200%;
	    bottom: 0px;
	    animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
		/*animation-delay:10s;*/
		/*-webkit-animation-delay:10s;*/
	}
}

/* Tips */
.notice {
    color: rgba(51,51,51,0.9);
    margin: 14px 10px 10px 10px;
    padding: 0px;
	line-height: 24px!important;
	font-size: 14px;
}
.comment_notes_blank {
    height: 100px;
}

.comment_notes {
    color: rgba(51,51,51,0.9);
    text-align: left;
    font-style: italic;
}

.visitor_notice {
    border: 1px solid rgba(209,216,220,0.9);
    padding: 0px 0px 0px 0px!important;
    border-radius: 10px;
    min-height: 50px;
}

.visitor_notice img{
    height: 40px;
    width: 40px;
    float: left;
    position: relative;
    margin: 5px 10px 5px 10px!important;
    padding: 0px;
    top: 0px;
    left: 0px;
}
.visitor_notice a {
    text-decoration: none;
    color: rgba(51,51,51,0.9);
    font-weight: normal;
    font-style: italic;
}
.visitor_notice a:hover {
    text-decoration: none;
    color: rgba(51,51,51,0.9);
    font-weight: bolder;
    font-style: italic;
}









