.blank_box{
  width: 100%;
  height: 10px;
}
.site-heading h1{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}
#subdusi{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* search */
#local-search-input{
	border:0px;
	box-shadow:0px 0px 0px 0px rgb(191,191,191) inset;
	border:1px solid rgb(191,191,191);
}
#local-search-input:focus{
	border:1px solid #66afe9;
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
#local-search-input::-webkit-input-placeholder{
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;

}
#local-search-result{ /* div */
	background:rgba(245,245,245,0.9);
	margin:0px;
	padding:0px;
	overflow-y:scroll;
	height:auto;
	max-height:655px;
}
#local-search-result::-webkit-scrollbar{
	display:none;
}
.search-result-list{ /* ul */
	list-style: none; 
	margin:0px;
	padding:3px 4px 0px 4px;
}
.search-result-list li{
	margin-bottom:15px;
}
#local-search-result .search-result-title{ /* a */
	list-style: none; 
	font-weight:bold;
	margin:0px;
	padding:0px;
	color:rgb(121,187,209)!important;
}
#local-search-result .search-result-title:hover{
	color:rgb(56,132,158)!important;
}
.search-result{ /* p */
	margin:0px;
	padding:0px;
	font-size:12px;
}






