<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>LAMP-Server-Environment-Tutorial.md</key>
			<dict>
				<key>lastModification</key>
				<real>574871002.74497795</real>
				<key>version</key>
				<dict>
					<key>7e9d32dd4baaa2e4588fdd7eb774dd5e63de3a26177590355f9a757745036f79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Start-using-hexo.md</key>
			<dict>
				<key>lastModification</key>
				<real>574871002.74497604</real>
				<key>version</key>
				<dict>
					<key>7e9d32dd4baaa2e4588fdd7eb774dd5e63de3a26177590355f9a757745036f79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>574871029.79817998</real>
				<key>lastModification</key>
				<real>574871029.79817998</real>
				<key>version</key>
				<dict>
					<key>7e9d32dd4baaa2e4588fdd7eb774dd5e63de3a26177590355f9a757745036f79</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Vim-configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>574871002.74497795</real>
				<key>version</key>
				<dict>
					<key>7e9d32dd4baaa2e4588fdd7eb774dd5e63de3a26177590355f9a757745036f79</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>hexo-theme-beantech.md</key>
			<dict>
				<key>lastModification</key>
				<real>574871002.744977</real>
				<key>version</key>
				<dict>
					<key>7e9d32dd4baaa2e4588fdd7eb774dd5e63de3a26177590355f9a757745036f79</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>574692996.68452799</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>Start-using-hexo.md</string>
		</array>
		<array>
			<string>hexo-theme-beantech.md</string>
		</array>
		<array>
			<string>Vim-configuration.md</string>
		</array>
		<array>
			<string>LAMP-Server-Environment-Tutorial.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>7e9d32dd4baaa2e4588fdd7eb774dd5e63de3a26177590355f9a757745036f79</key>
			<integer>3</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>7e9d32dd4baaa2e4588fdd7eb774dd5e63de3a26177590355f9a757745036f79</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
