<!-- Table of Contents -->
<% if (page.catalog) { %>
    <% if (is_post()){ %>
      <% if (toc(page.content) != ""){ %>
        <aside id="sidebar">
          <div id="toc" class="toc-article">
          <strong class="toc-title"><%= __('Contents') %></strong>
          <% if (toc(page.content) != ""){ %>
            <% if (page.tocnum == false) { %>
              <%- toc(page.content, { "class": "toc-nav", list_number: false }) %>
            <% } else { %>
              <%- toc(page.content, { "class": "toc-nav" }) %>
            <% } %>
          <% } else { %>
            <ol class="nav"><%= __('none') %></ol>
          <% } %>
          </div>
        </aside>
      <% } %>
    <% } %>
<% } %>