<% if (site.posts.length){ %>
  <h5><%= __('VISITORS') %></h5>
  <div class="widget">
    <span>
    	Viewed <i><span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-spin"></i></span></i> Times
	</span>
	<br/>
	<span>
		<i><span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span></i> Visitors In Total
	</span>
  </div>
<% } %>